<?xml version="1.0" encoding="UTF-8"?>

<AnyConnectProfile xmlns="http://schemas.xmlsoap.org/encoding/">
<!-- Agregado por mi... ver si funciona la reconeccion -->
<!-- Tomado de aca:

https://www.cisco.com/c/en/us/support/docs/security/anyconnect-secure-mobility-client/113692-technote-anyconnect-00.html
 -->
   <ClientInitialization>

	  		<AutomaticCertSelection UserControllable="true">false</AutomaticCertSelection>
	  		<ShowPreConnectMessage>false</ShowPreConnectMessage>
	  		<CertificateStore>All</CertificateStore>
	  		<CertificateStoreOverride>false</CertificateStoreOverride>
			<ProxySettings>Native</ProxySettings>
			<AllowLocalProxyConnections>true</AllowLocalProxyConnections>
			<AuthenticationTimeout>12</AuthenticationTimeout>
	  		<AutoConnectOnStart UserControllable="true">false</AutoConnectOnStart>
	  		<MinimizeOnConnect UserControllable="true">true</MinimizeOnConnect>
	  		<LocalLanAccess UserControllable="true">false</LocalLanAccess>
	  		<ClearSmartcardPin UserControllable="true">true</ClearSmartcardPin>
			<AutoReconnect UserControllable="false">true
				<AutoReconnectBehavior UserControllable="false">DisconnectOnSuspend 
		 		</AutoReconnectBehavior>
			</AutoReconnect>
	  		<AutoUpdate UserControllable="false">true</AutoUpdate>
	  		
	  		<PPPExclusion UserControllable="false">Disable
		 		<PPPExclusionServerIP UserControllable="false"></PPPExclusionServerIP>
	  		</PPPExclusion>
	  		<EnableScripting UserControllable="false">false</EnableScripting>
	  		<EnableAutomaticServerSelection UserControllable="false">false
		 		<AutoServerSelectionImprovement>20</AutoServerSelectionImprovement>
		 		<AutoServerSelectionSuspendTime>4</AutoServerSelectionSuspendTime>
	  		</EnableAutomaticServerSelection>
	  		<RetainVpnOnLogoff>false
	  		</RetainVpnOnLogoff>
	</ClientInitialization>
<!-- Fin del agregado por mi -->

<ServerList>
	<HostEntry>
		<HostName>{{ VPN_NAME }}</HostName>
		<User>{{ USER_VPN }}</User>
        <HostAddress>{{ HOSTADDRESS }}</HostAddress>
    </HostEntry>
</ServerList>
</AnyConnectProfile>
